<launch>
  <!-- Machines -->
  <machine name="controller" address="intmp-ctrl" user="jkizito" default="true" />
  <machine name="powerbot" address="intmp-pc" user="miaslab" default="never" /> 

  <!-- RosAria node controls PowerBot -->
  <!-- node machine="powerbot-nb" name="rosaria" pkg="ROSARIA" type="RosAria" output="screen" -->
  <node machine="powerbot" pkg="rospy_tutorials" type="talker" name="talker_test" output="screen" />

  <!-- Joystick node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joystick" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.10" />
    <param name="autorepeat_rate" value="0.5" />
  </node>

  <!-- Axes -->
  <!-- param name="axis_linear" type="int" value="1" -->

  <!-- Teleop node -->
  <node pkg="csir_powerbot_teleop" type="csir_powerbot_teleop" name="teleop" output="screen" />

</launch>
